.profile__data {
    grid-area: content;
    display: grid;
    grid-template-areas: 
    "name name name"
    "status job contacts"
    "about skills contacts";
    column-gap: 30px;
    row-gap: 15px;
    grid-template-columns: repeat(3, minmax(min-content, max-content));
    padding-right: 10px;
    align-content: start;
}