.profile__data {
    grid-area: content;
    display: grid;
    grid-template-areas: 
    "name name name"
    "status job contacts"
    "about skills contacts";
    column-gap: 30px;
    row-gap: 15px;
    grid-template-columns: 3fr 2fr 1fr;
}