.profile__container {
    display: grid;
    grid-template-areas:
        "avatar text";
    grid-template-columns: repeat(2, minmax(min-content, max-content));
    column-gap: 45px;
    max-width: 80%;
}