.form_place_edit-info {
    display: grid;
    grid-template-areas: 
    "name contacts"
    "about contacts"
    "job contacts"
    "skills contacts"
    "button button";
    column-gap: 50px;
    row-gap: 30px;
    grid-template-columns: repeat(2, minmax(min-content, max-content));
    grid-template-rows: repeat(4, minmax(min-content, max-content));
}