.page {
    display: grid;
    grid-template-areas:
      "header header"
      "nav main";
    grid-template-rows: 92px 1fr;
    grid-template-columns: 1fr 5fr;
    column-gap: 20px;
    row-gap: 25px;
    margin: auto;
    min-width: 320px;
    min-height: 100vh;
    font-family: "Inter";
  }