.dialogs__link {
    text-decoration: none;
    transition: opacity .3s ease, cursor 1s ease;
}

.dialogs__link:hover {
    opacity: .7;
    cursor: pointer;
}

.dialogs__link.active {
    text-shadow: #2962ff 1px 0 10px;
}