.button_place_profile-data-close {
    background-color: transparent;
    background-image: url('../../../images/profile-data/close.svg');
    background-position: 50%;
    background-repeat: no-repeat;
    border: none;
    height: 32px;
    padding: 0;
    position: absolute;
    right: -40px;
    top: -40px;
    width: 32px;
}

.button_place_profile-data-close:hover {
    cursor: pointer;
}