.input {
    box-sizing: border-box;
    width: 100%;
    font-family: inherit;
    font-weight: normal;
    font-size: 16px;
    line-height: 2;
    border: 1px solid white;
    padding-left: 10px;
}