.paginator__button_type_first-last-page {
    font-size: 16px;
    font-weight: normal;
    box-shadow: none;
    background-color: transparent;
    color: black;
    border: 2px solid transparent;
}

.paginator__button_type_first-last-page:hover {
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #2962ff;
}

.paginator__button_type_first-last-page:active {
    cursor: pointer;
    box-shadow: 0px 0px 0px #1a4cd4;
}