.profile__main-image {
    min-width: 100px;
    min-height: 220px;
    margin-top: 25px;
    margin-bottom: 25px;
    background-image: url('../../../images/main/people.png');
    background-position: center;
    background-repeat: repeat-x;
}