.popup__container {
    width: 100%;
    max-width: 60%;
    position: relative;
    background-color: #fff;
    box-shadow: 0 0 25px rgb(0 0 0 / 15%);
    border-radius: 10px;
    border: 5px solid #2962ff;
    color: #000;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 26px 28px;
    margin-left: 15px;
    margin-right: 15px;
}