.status__input {
    box-sizing: border-box;
    font-family: inherit;
    font-weight: normal;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid transparent;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
}