.paginator {
    grid-area: pages;
    display: flex;
    justify-self: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    margin-left: 120px;
    max-width: 100%;
}